In [1]:
import pandas as pd

housing_df = pd.read_csv("./Housing.csv")
housing_df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [2]:
housing_df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [5]:
columns_to_convert_bool_to_bit = ["mainroad","guestroom","basement","hotwaterheating", "airconditioning","prefarea"]

for item in columns_to_convert_bool_to_bit:
    housing_df[item] = housing_df.get(item).map({"yes": 1, "no": 0})

In [6]:
housing_df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [8]:
status = pd.get_dummies(housing_df["furnishingstatus"],drop_first=True)
status

     semi-furnished  unfurnished
0             False        False
1             False        False
2              True        False
3             False        False
4             False        False
..              ...          ...
540           False         True
541            True        False
542           False         True
543           False        False
544           False         True

[545 rows x 2 columns]

In [9]:
housing_df = pd.concat([housing_df, status], axis=1)
housing_df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished,False,False
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished,False,False
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished,True,False
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished,False,False
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,unfurnished,False,True
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,semi-furnished,True,False
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,unfurnished,False,True
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,furnished,False,False
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,unfurnished,False,True

In [13]:
housing_df.drop(["furnishingstatus"], axis=1, inplace=True)

In [14]:
housing_df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,False,False
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,False,False
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,True,False
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,False,False
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,False,True
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,True,False
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,False,True
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,False,False
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,False,True

In [15]:
housing.mean()

NameError: name 'housing' is not defined

In [16]:
housing_df.mean()

price              4.766729e+06
area               5.150541e+03
bedrooms           2.965138e+00
bathrooms          1.286239e+00
stories            1.805505e+00
mainroad           8.587156e-01
guestroom          1.779817e-01
basement           3.504587e-01
hotwaterheating    4.587156e-02
airconditioning    3.155963e-01
parking            6.935780e-01
prefarea           2.348624e-01
semi-furnished     4.165138e-01
unfurnished        3.266055e-01
dtype: float64

In [17]:
housing_df.std()

price              1.870440e+06
area               2.170141e+03
bedrooms           7.380639e-01
bathrooms          5.024696e-01
stories            8.674925e-01
mainroad           3.486347e-01
guestroom          3.828487e-01
basement           4.775519e-01
hotwaterheating    2.093987e-01
airconditioning    4.651799e-01
parking            8.615858e-01
prefarea           4.243022e-01
semi-furnished     4.934337e-01
unfurnished        4.694024e-01
dtype: float64

In [18]:
housing_df_std = (housing_df - housing_df.mean) / housing.std()

TypeError: unsupported operand type(s) for -: 'int' and 'method'

In [ ]:
housing_df_std